.PreviewExpe {
    cursor: pointer;

    h1 {
        text-transform: capitalize;
    }

    .content {
        position: relative;

        .tag {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
